body {
  font-family:'Source Sans Pro';
  background:#F8F8F8;
}
.container {
  max-width:1020px;
}
.inline, .inline li, .inline > li > a {
  display:inline-block;
}
.navbar {
  background:#fff;
  max-height:35px;
  margin-bottom:0;
  border-top:none;
}
.nav2 {
  margin-bottom:20px;
}
.inline > li > a {
  padding:5px 10px 10px 10px;
}
.lgx {
  text-align:center;
  padding:10px 0 0 0;
}
.post {
  -webkit-box-shadow: 1px 1px 8px 1px #ccc;
  box-shadow: 1px 1px 8px 1px #ccc;
  margin-bottom:20px;
  border-radius:3px;
}
.post > .im img {
  width:100%;
  padding:0;
}
.pxs {
  padding:0px 15px;
}
.pst {
  padding:0px 15px 15px 15px;
}
.im img {
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}
.pxs h2 {
  padding:15px 0;
  margin:0;
  font-weight:bold;
  color:#333;
  font-size:26px;
  line-height:1.3em;
}
.pxs p {
  font-size:14.5px;
  padding:0;
  line-height:1.5em;
  margin:0 0 10px 0;
}
.circle {
  border-radius:50%;
}
.pusr {
  width: 100%;
  margin:0 0 15px 0;
  padding:0 15px 15px 15px;
  border-bottom:solid 1px #ececec;
}
.pusr, .uimg, .unm {
  float:left;
}
.unm {
  margin:9px 0 0 10px;
  color:#ccc;
}
.unm a {
  font-size:16px;
  font-weight:bold;
}
.btn-fbshare {
  float:left;
  background:#43649A;
  border-radius:5px;
  padding:4px 10px;
  text-transform:uppercase;
  font-weight:bold;
  margin:0;
  font-size:14px;
  color:#fff;
}
.btn-fbshare i {
  font-size:14px;
  padding:0 5px 0 0;
}
.shx {
  border:solid 1px #ececec;
  padding:5px 6px;
  margin:0 0 0 3px;
  border-radius:5px;
  float:left;
}
.cm, .vw {
  font-size:16px;
  font-weight:bold;
  float: left;
  padding:5px 0 0 0;
  width:100%;
}
.cm a {
  color:#0074C7;
}
.vw {
  color:#666;
}
.ct {
  text-align:center;
}

@media (min-width: 768px) {
  .swiping-side-menu-backdrop {
    display: none;
  }
}
@media (max-width: 767px) {
  .swiping-side-menu {
    will-change: transform;
    transform: translate3d(0, 0, 0);
    transition: transform ease-in-out 0.33s;
    background-color: #f8f8f8;
    color: #777777;
    position: fixed !important;
    z-index: 1010;
    top: 0;
    right: 100%;
    bottom: 0;
  }
  .swiping-side-menu.opened {
    transform: translateX(100%);
    transform: translate3d(100%, 0, 0);
  }
  .swiping-side-menu.opened:before {
    content: none;
  }
  .swiping-side-menu.opened + .swiping-side-menu-backdrop {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  .swiping-side-menu.dragging {
    transition: none;
  }
  .swiping-side-menu.dragging + .swiping-side-menu-backdrop {
    visibility: visible;
    transition: none;
  }
  .swiping-side-menu.dragged {
    transition-timing-function: ease-out;
  }
  .swiping-side-menu:not(.is-safari):before {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    right: -15px;
    width: 15px;
  }
  .swiping-side-menu-content {
    overflow-y: auto;
    max-height: 100%;
    padding: 0 15px;
  }
  .swiping-side-menu-backdrop {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.33s ease-in-out, visibility 0s 0.33s linear;
  }
}
@media (max-width: 767px) {
  .swiping-side-menu {
    width: 70%;
  }
}
@media (max-width: 479px) {
  .swiping-side-menu {
    width: 90%;
  }
}
body.swiping-side-menu-opened {
  overflow: hidden;
}
@media (max-width: 767px) {
  .navbar-fixed-top .swiping-side-menu {
    top: 50px;
  }
  .navbar-fixed-top .swiping-side-menu-backdrop {
    top: 50px;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-bottom .swiping-side-menu {
    bottom: 50px;
  }
  .navbar-fixed-bottom .swiping-side-menu-backdrop {
    bottom: 50px;
  }
}

  .breadcrumb {
    margin-bottom:0;
    padding-bottom:0;
  }
  .emt {
    padding:0 15px;
    color:#999;
  }
  .rpt {
    padding:0 20px;
    float:left;
    width:100%;
  }
  .rgs {
    float:left;
    width:100%;
    list-style:none;
    padding:0;
    margin:0;
  }
  .rg {
    padding:10px;
  }
  .rg img {
    height:140px;
    width:100%;
  }
  .lvr {padding-bottom:20px;float:left;width:100%;}
  .flx {margin-bottom:15px;padding-bottom:20px;}
  .rtl { font-size:14px;}
  .ftl {display:block;list-style:none;}
  .ftl li {display:inline;margin:0 10px 0 0;}
  .home-image-thumbnail img {
    padding:5px;
    border:solid 1px #ececec;
    margin:0 2px 10px 0;
  }
/* vietnamese */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNOAHFN6BivSraYkjhveRHY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlC2Q8seG17bfDXYR_jUsrzg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
